<!-- views/pages/login.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title></title>

    <% include ../partials/head.ejs %>
</head>

<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <section class="page">

    </section>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/scripts.ejs %>

</body>

</html>