<!DOCTYPE html>
<html>
    <head>
        <title>Munro Spotter</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main_style.css">
        <link rel="stylesheet" href="css/mobile-style.css">
        <link rel="stylesheet" href="css/loginPageCSS.css">
        <link rel="stylesheet" href="css/unsemantic-master/responsive.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>

              <header>
                  <div class="parallax">
                      <div class="display">
                          <img class="logo" src="img/ms_logo_white_1.png" alt = "magnifying glass title and logo">
                      </div>
                  </div>

                  <nav class="nav">
                      <div id="nav-menu">
                          <a id="close-btn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
                          <a id="nav-home" class="menu-btn" href="index.html">Home</a>
                          <a id="nav-map" class="menu-btn" href="map/munromap.html">Map</a>
                          <a id="nav-list" class="menu-btn" href="list/munro-list.html">List</a>
                          <a id="nav-info" class="menu-btn" href="information/TravelPage.html">Information</a>
                          <a id="nav-contact" class="menu-btn" href="contact/contact.html">Contact</a>
                          <a id="nav-login" class="menu-btn" onclick="document.getElementById('login').style.display='block'">Login</a>
                      </div>
                      <span id="open-btn" onclick="openNav()">MENU</span>
                  </nav>

              </header>

              <main>
                  <section class="page">
                      <h1>WELCOME</h1>
                      <p>Munro Spotter is a companion app designed for those who enjoy the challenge of climbing.</p>
                      <div class = "grid-container">
                        <div class = "grid-100 row">
                            <a href = "https://www.walkhighlands.co.uk/munros/">
                            <img src="img/Munro Update.jpg" class = "additional-info-images">
                            <h3>The History of the Munros</h3>
                            <p>The Munros were first listed by Sir Hugh Munro (1856 - 1919)
                                in his 'Munros Tables', published in the Journal of the Scottish
                                Mountaineering Club (SMC) in 1891. Sir Hugh divided the summits
                                into 283 seperate mountains  (now known as the Munros),
                                whilst 255 further summits over 3000 feet were considered
                                to be only subsidiary 'Tops'....</p>
                           </a>
                        </div>
                        <div class = "grid-100 row">
                            <a href = "http://www.themunrosociety.com/">
                            <img src="img/munroSocietyLogo.jpg" class = "additional-info-images">
                            <h3>The Munro Society</h3>
                            <p>Founded in 2002 membership is open to anyone who has climbed
                               all the Munro summits as listed in Munro's Tables at the time
                               of compleation - currently there are 282 mountains of Munro
                               status with a height of 3000ft or more above sea level.
                               Many such Munroists, who are often said to have 'compleated',
                               register their detail with the Clerk of the List....</p>
                             </a>
                        </div>
                        <div class = "grid-100 row">
                            <a href = "http://www.countryfile.com/explore-countryside/people/confessions-munro-bagger-comedian-ed-byrne">
                            <img src="img/EdByrneMunros.jpg" class = "additional-info-images">
                            <h3>Confessions of a Munro-bagger: Comedian Ed Byrne</h3>
                            <p>If they don’t know what Munro bagging is, then the first question is usually, “What is Munro bagging?”
                               A Munro is a mountain in Scotland that reaches a height of at least 3,000ft (914.4m). They are named
                               after Sir Hugh Munro who, in 1891, published a list of said mountains. Those of us who attempt
                               to climb all 282 of these beasts are known as Munro baggers.
                               </p>
                           </a>
                        </div>
                      </div>
                  </section>
              </main>

              <footer>
                      <!-- Missing logo of MunroSpotter with no borders and slogon! -->
                    <div class = "footer-row">
                      <div class = "column" id = "footer-left">
                        <h4>Munro Spotter</h4>
                      </div>
                      <div class = "column" id = "footer-icons">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                      </div>
                      <div class = "column" id = "footer-right">
                        <h5 id="year">Copyright &#169; 2018 Munro. All right reserved.</h5>
                      </div>
                    </div>
              </footer>

              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
              <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script src="js/sidenav.js"></script>
              <script src="js/stickynav.js"></script>
              <script src="js/loginWindowJS.js"></script>
              <script src="js/loginWindowDB.js"></script>


               <!-- - - - - - - - - - - - - POP UP -> LOGIN - - - - - - - - - - - - - - - - - - -->

              <div id="login" class="modal">
                <form class="modal-content animate">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
                  </div>

                  <div class="container">
                    <form action="/userDetails" method="POST">

                      <label for="uname"><b>Username</b></label>
                      <input type="text" placeholder="Enter your email" name="uname" required>

                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" required>

                    </form>
                    <button type="submit">Login</button>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <span id = "register-link" >or <a href="#" onclick="document.getElementById('register').style.display='block'">Register</a></span>
                    <div id = "popUp-bottom">
                      <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                      <span class="psw">Forgot <a href="#"  onclick="document.getElementById('forgottenPassword').style.display='block'">password?</a></span>
                    </div>
                  </div>
                </form>
                </div>

                <!-- - - - - - - - - - - - - POP UP -> REGISTER - - - - - - - - - - - - - - - - - - -->


                <div id="register" class="modal">
                  <form class="modal-content animate" >
                    <div class="imgcontainer">
                      <span onclick="document.getElementById('register').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>

                    <div class="container">
                      <form action="/registerDetails" method="POST">

                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter E-mail" name="email" required>

                        <label for="uname"><b>Your name</b></label>
                        <input type="text" placeholder="Enter your real name" name="name" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                      </form>
                      <button id = "register-button" type="submit">Register</button>

                      <div id = "popUp-bottom">
                        <button id = "register-cancel-button" type="button" onclick="document.getElementById('register').style.display='none'" class="cancelbtn">Cancel</button>
                      </div>
                    </div>
                  </form>
                  </div>


              <!-- - - - - - - - - - - - - POP UP -> FORGOTTEN PASSWORD - - - - - - - - - - - - - - - - - - -->


                  <div id="forgottenPassword" class="modal">
                    <form class="modal-content animate" >
                      <div class="imgcontainer">
                        <span onclick="document.getElementById('forgottenPassword').style.display='none'" class="close" title="Close Modal">&times;</span>
                      </div>

                      <div class="container">
                        <form action="/forgottenPasswordDetails" method="POST">

                          <label for="E-mail"><b>E-mail</b></label>
                          <input type="text" placeholder="Enter E-mail" name="email" required>

                        </form>
                        <button id = "reset-button" type="submit" onclick = "SEND EMAIL....">Reset password</button>

                        <div id = "popUp-bottom">
                          <button class="cancelbtn" id = "reset-cancel-button" type="button" onclick="document.getElementById('forgottenPassword').style.display='none'" >Cancel</button>
                        </div>
                      </div>
                    </form>
                    </div>


    </body>
</html>
