/* Set width and position of accordion */
.content {
  width: 60%;
  margin: auto;
  padding-top: 25px;
}

#accordion {
  background-color: #3b8686;
  font-size: 13px;
  color: white;
  padding: 10px;
  width: 75%;
  text-align: left;
  border: none;
  outline: none;
   /* Transitions for smoother opening/closing of panels  */
  -webkit-transition: 0.5s ease-in-out;
}

 div {
  padding: 0;
  background-color: white;
  display: block;
  font-family: Verdana;
  font-size: 12px;
   /* max-height is the attribute that controls the show/hide of the panel  */
  max-height: 0;
  -webkit-transition: 0.5s ease-in-out;
  overflow: hidden;
}

/* .panel.show {
  max-height: 5000px !important;
  position: relative;
  top: 80%;
  left: 0;
} */

/* Changes Accordion background colour on hover and when panel is open */
#accordion.active,
#accordion:hover {
  background-color: #79bd9a
}

img {
  float: right;
  padding-right: 10px;
}

.float_center {
  float: right;
  position: relative;
  right: 35%;
}
